<div
  class="xft-box-field__content"
  [class.xft-box-field__content--active]="status.active"
  [class.xft-box-field__content--error]="status.error"
  [class.xft-box-field__content--disabled]="status.disabled"
>
  <label
    class="xft-box-field__label smalltext-semibold"
    [for]="elementId"
    *ngIf="label"
  >
    <ng-content></ng-content>
  </label>

  <div class="xft-box-field__component">
    <div class="xft-box-field__body">
      <xft-input-field
        class="xft-box-field__control"
        [elementId]="elementId"
        type="number"
        [placeholder]="placeholder"
        [enabled]="enabled"
        (status)="onStatus($event)"
        [formControl]="inputControl"
      >
        {{ value }}
      </xft-input-field>
    </div>
  </div>

  <div
    class="xft-box-field__helper xft-box-field__helper--error overline-regular"
    *ngIf="status.error"
  >
    <span>{{ status.msgError }}</span>
  </div>
</div>
