.app__content {
  position: relative;
  float: left;
  width: 100%;
  padding: var(--size-16);
  box-sizing: border-box;
  background: var(--color-primary-600);

  .xft-card__content > * {
    & + * {
      margin-top: var(--size-12);
    }
  }
}

.app__buttons {
  position: relative;
  float: left;
  width: 100%;
  margin-top: var(--size-16);
  display: flex;
  flex-direction: column;

  .xft-button + .xft-button {
    margin-top: var(--size-12);
  }
}