<div class="app" xftTheme="warning">
  <xft-sidenav [(visible)]="visibleNav" [condense]="condenseNav">
    <xft-sidenav-profile initials="" subtitle="" [skeleton]="true">
    </xft-sidenav-profile>

    <xft-sidenav-menu
      [skeleton]="true"
      [elements]="menu"
      (select)="onSidenav($event)"
    >
    </xft-sidenav-menu>
  </xft-sidenav>

  <div class="xft-app__body">
    <div class="xft-app__header">
      <xft-toolbar [breadcrumbs]="['Inicio', 'Asientos contable', 'Registro']">
        <xft-icon value="xofttion"></xft-icon>edger Application v1.0.0
        [2022.08.29]
      </xft-toolbar>
    </div>

    <div class="xft-app__content">
      <xft-page>
        <xft-section [active]="true">
          <div class="xft-datatable xft-datatable--overflow-hidden">
            <div class="xft-datatable__header">
              <xft-toolbar subtitle="Registrados: 5 documento(s)">
                Catálago de documentos contable
              </xft-toolbar>

              <div class="xft-datatable__header__actions">
                <xft-button-progress
                  button="attach"
                  [progress]="progress"
                  tooltip="Adjuntar"
                  (action)="onVisible()"
                ></xft-button-progress>
                <button
                  xft-button-action="trash"
                  tooltip="Eliminar"
                  (click)="onCondense()"
                ></button>
                <button
                  xft-button-action="refresh"
                  (click)="onProgress()"
                ></button>
              </div>
            </div>

            <div class="xft-datatable__content">
              <table class="xft-datatable__table">
                <thead class="xft-datatable__thead">
                  <tr class="xft-datatable__title">
                    <th
                      class="xft-datatable__th xft-datatable__th--control"
                    ></th>
                    <th class="xft-datatable__th col-sm-17-5 align-center">
                      Number ID
                    </th>
                    <th class="xft-datatable__th col-sm-35">Full name</th>
                    <th class="xft-datatable__th col-sm-20">Company</th>
                    <th class="xft-datatable__th col-sm-10 align-center">
                      Age
                    </th>
                    <th class="xft-datatable__th col-sm-17-5 align-right">
                      Value
                    </th>
                  </tr>
                  <xft-progress-bar [indeterminate]="true"></xft-progress-bar>
                </thead>

                <tbody class="xft-datatable__tbody">
                  <tr class="xft-datatable__row">
                    <td class="xft-datatable__td xft-datatable__td--control">
                      <xft-avatar>
                        <img
                          class="xft-avatar__img"
                          src="../assets/cr7.jpg"
                          alt="Profile"
                        />
                      </xft-avatar>
                    </td>
                    <td class="xft-datatable__td col-sm-17-5 align-center">
                      73127818
                    </td>
                    <td class="xft-datatable__td col-sm-35">
                      <a>Cristiano Ronaldo Aveiro</a>
                    </td>
                    <td class="xft-datatable__td col-sm-20">
                      <xft-select-field
                        [sheetMode]="true"
                        [suggestions]="persons"
                        placeholder="Seleccione nueva cuenta"
                      >
                      </xft-select-field>
                    </td>
                    <td class="xft-datatable__td col-sm-10 align-center">50</td>
                    <td class="xft-datatable__td col-sm-17-5 align-right">
                      <xft-money-field></xft-money-field>
                    </td>
                    <td class="xft-datatable__row__actions">
                      <button
                        xft-button-action="refresh"
                        tooltip="Eliminar"
                        (click)="onAction()"
                      ></button>
                      <xft-button-progress
                        button="attach"
                        [progress]="progress"
                        tooltip="Adjuntar"
                      ></xft-button-progress>
                    </td>
                  </tr>
                  <tr class="xft-datatable__row">
                    <td class="xft-datatable__td xft-datatable__td--control">
                      <xft-avatar>
                        <span>DC</span>
                      </xft-avatar>
                    </td>
                    <td class="xft-datatable__td col-sm-17-5 align-center">
                      1065642202
                    </td>
                    <td class="xft-datatable__td col-sm-35">
                      Daniel Castillo Pedroza
                    </td>
                    <td class="xft-datatable__td col-sm-20">
                      <xft-autocomplete-field
                        [suggestions]="persons"
                        [sheetMode]="true"
                        [label]="false"
                        placeholder="Seleccione nueva cuenta"
                        [requestAllow]="true"
                        [requesting]="requestData"
                        (request)="onRequest($event)"
                      >
                      </xft-autocomplete-field>
                    </td>
                    <td class="xft-datatable__td col-sm-10 align-center">31</td>
                    <td class="xft-datatable__td col-sm-17-5 align-right">
                      <xft-money-field></xft-money-field>
                    </td>
                    <td class="xft-datatable__row__actions">
                      <button
                        xft-button-action="refresh"
                        tooltip="Refrescar"
                      ></button>
                      <button
                        xft-button-action="trash"
                        tooltip="Eliminar"
                      ></button>
                    </td>
                  </tr>
                  <tr class="xft-datatable__row">
                    <td class="xft-datatable__td xft-datatable__td--control">
                      <xft-avatar>
                        <span>DC</span>
                      </xft-avatar>
                    </td>
                    <td class="xft-datatable__td col-sm-17-5 align-center">
                      1065642202
                    </td>
                    <td class="xft-datatable__td col-sm-35">
                      Daniel Castillo Pedroza
                    </td>
                    <td class="xft-datatable__td col-sm-20"></td>
                    <td class="xft-datatable__td col-sm-10 align-center">31</td>
                    <td class="xft-datatable__td col-sm-17-5 align-right"></td>
                    <td class="xft-datatable__row__actions">
                      <button xft-button-action="trash"></button>
                      <button xft-button-action="refresh"></button>
                    </td>
                  </tr>
                  <tr class="xft-datatable__row">
                    <td class="xft-datatable__td xft-datatable__td--control">
                      <xft-avatar>
                        <span>DC</span>
                      </xft-avatar>
                    </td>
                    <td class="xft-datatable__td col-sm-17-5 align-center">
                      1065642202
                    </td>
                    <td class="xft-datatable__td col-sm-35">
                      Daniel Castillo Pedroza
                    </td>
                    <td class="xft-datatable__td col-sm-20"></td>
                    <td class="xft-datatable__td col-sm-10 align-center">31</td>
                    <td class="xft-datatable__td col-sm-17-5 align-right"></td>
                  </tr>
                  <tr class="xft-datatable__row">
                    <td class="xft-datatable__td xft-datatable__td--control">
                      <xft-avatar>
                        <span>DC</span>
                      </xft-avatar>
                    </td>
                    <td class="xft-datatable__td col-sm-17-5 align-center">
                      1065642202
                    </td>
                    <td class="xft-datatable__td col-sm-35">
                      Daniel Castillo Pedroza
                    </td>
                    <td class="xft-datatable__td col-sm-20"></td>
                    <td class="xft-datatable__td col-sm-10 align-center">31</td>
                    <td class="xft-datatable__td col-sm-17-5 align-right"></td>
                  </tr>
                  <tr class="xft-datatable__row">
                    <td class="xft-datatable__td xft-datatable__td--control">
                      <xft-avatar>
                        <span>DC</span>
                      </xft-avatar>
                    </td>
                    <td class="xft-datatable__td col-sm-17-5 align-center">
                      1065642202
                    </td>
                    <td class="xft-datatable__td col-sm-35">
                      Daniel Castillo Pedroza
                    </td>
                    <td class="xft-datatable__td col-sm-20"></td>
                    <td class="xft-datatable__td col-sm-10 align-center">31</td>
                    <td class="xft-datatable__td col-sm-17-5 align-right"></td>
                  </tr>
                  <tr class="xft-datatable__row">
                    <td class="xft-datatable__td xft-datatable__td--control">
                      <xft-avatar>
                        <span>DC</span>
                      </xft-avatar>
                    </td>
                    <td class="xft-datatable__td col-sm-17-5 align-center">
                      1065642202
                    </td>
                    <td class="xft-datatable__td col-sm-35">
                      Daniel Castillo Pedroza
                    </td>
                    <td class="xft-datatable__td col-sm-20"></td>
                    <td class="xft-datatable__td col-sm-10 align-center">31</td>
                    <td class="xft-datatable__td col-sm-17-5 align-right"></td>
                  </tr>
                  <tr class="xft-datatable__row">
                    <td class="xft-datatable__td xft-datatable__td--control">
                      <xft-avatar>
                        <span>DC</span>
                      </xft-avatar>
                    </td>
                    <td class="xft-datatable__td col-sm-17-5 align-center">
                      1065642202
                    </td>
                    <td class="xft-datatable__td col-sm-35">
                      Daniel Castillo Pedroza
                    </td>
                    <td class="xft-datatable__td col-sm-20"></td>
                    <td class="xft-datatable__td col-sm-10 align-center">31</td>
                    <td class="xft-datatable__td col-sm-17-5 align-right"></td>
                  </tr>
                  <tr class="xft-datatable__row">
                    <td class="xft-datatable__td xft-datatable__td--control">
                      <xft-avatar>
                        <span>DC</span>
                      </xft-avatar>
                    </td>
                    <td class="xft-datatable__td col-sm-17-5 align-center">
                      1065642202
                    </td>
                    <td class="xft-datatable__td col-sm-35">
                      Daniel Castillo Pedroza
                    </td>
                    <td class="xft-datatable__td col-sm-20"></td>
                    <td class="xft-datatable__td col-sm-10 align-center">31</td>
                    <td class="xft-datatable__td col-sm-17-5 align-right"></td>
                  </tr>
                  <tr class="xft-datatable__row">
                    <td class="xft-datatable__td xft-datatable__td--control">
                      <xft-avatar>
                        <span>DC</span>
                      </xft-avatar>
                    </td>
                    <td class="xft-datatable__td col-sm-17-5 align-center">
                      1065642202
                    </td>
                    <td class="xft-datatable__td col-sm-35">
                      Daniel Castillo Pedroza
                    </td>
                    <td class="xft-datatable__td col-sm-20"></td>
                    <td class="xft-datatable__td col-sm-10 align-center">31</td>
                    <td class="xft-datatable__td col-sm-17-5 align-right"></td>
                  </tr>
                  <tr class="xft-datatable__row">
                    <td class="xft-datatable__td xft-datatable__td--control">
                      <xft-avatar>
                        <span>DC</span>
                      </xft-avatar>
                    </td>
                    <td class="xft-datatable__td col-sm-17-5 align-center">
                      1065642202
                    </td>
                    <td class="xft-datatable__td col-sm-35">
                      Daniel Castillo Pedroza
                    </td>
                    <td class="xft-datatable__td col-sm-20"></td>
                    <td class="xft-datatable__td col-sm-10 align-center">31</td>
                    <td class="xft-datatable__td col-sm-17-5 align-right"></td>
                  </tr>
                  <tr class="xft-datatable__row">
                    <td class="xft-datatable__td xft-datatable__td--control">
                      <xft-avatar>
                        <span>DC</span>
                      </xft-avatar>
                    </td>
                    <td class="xft-datatable__td col-sm-17-5 align-center">
                      1065642202
                    </td>
                    <td class="xft-datatable__td col-sm-35">
                      Daniel Castillo Pedroza
                    </td>
                    <td class="xft-datatable__td col-sm-20"></td>
                    <td class="xft-datatable__td col-sm-10 align-center">31</td>
                    <td class="xft-datatable__td col-sm-17-5 align-right"></td>
                  </tr>
                  <tr class="xft-datatable__row">
                    <td class="xft-datatable__td xft-datatable__td--control">
                      <xft-avatar>
                        <span>DC</span>
                      </xft-avatar>
                    </td>
                    <td class="xft-datatable__td col-sm-17-5 align-center">
                      1065642202
                    </td>
                    <td class="xft-datatable__td col-sm-35">
                      Daniel Castillo Pedroza
                    </td>
                    <td class="xft-datatable__td col-sm-20"></td>
                    <td class="xft-datatable__td col-sm-10 align-center">31</td>
                    <td class="xft-datatable__td col-sm-17-5 align-right"></td>
                  </tr>
                  <tr class="xft-datatable__row">
                    <td class="xft-datatable__td xft-datatable__td--control">
                      <xft-avatar>
                        <span>DC</span>
                      </xft-avatar>
                    </td>
                    <td class="xft-datatable__td col-sm-17-5 align-center">
                      1065642202
                    </td>
                    <td class="xft-datatable__td col-sm-35">
                      Daniel Castillo Pedroza
                    </td>
                    <td class="xft-datatable__td col-sm-20"></td>
                    <td class="xft-datatable__td col-sm-10 align-center">31</td>
                    <td class="xft-datatable__td col-sm-17-5 align-right"></td>
                  </tr>
                  <tr class="xft-datatable__row">
                    <td class="xft-datatable__td xft-datatable__td--control">
                      <xft-avatar>
                        <span>DC</span>
                      </xft-avatar>
                    </td>
                    <td class="xft-datatable__td col-sm-17-5 align-center">
                      1065642202
                    </td>
                    <td class="xft-datatable__td col-sm-35">
                      Daniel Castillo Pedroza
                    </td>
                    <td class="xft-datatable__td col-sm-20"></td>
                    <td class="xft-datatable__td col-sm-10 align-center">31</td>
                    <td class="xft-datatable__td col-sm-17-5 align-right"></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="xft-datatable__footer">
              <xft-pagination
                [suggestions]="persons"
                [count]="3"
              ></xft-pagination>
            </div>
          </div>
        </xft-section>
      </xft-page>
    </div>
  </div>
</div>
