<div class="app__content">
  <div class="xft-card">
    <div class="xft-card__content">
      <xft-text-field
        elementId="name-input"
        placeholder="Digite nombre completo"
        [inputControl]="inputControl"
      >
        Nombre completo<span>*</span>
      </xft-text-field>

      <xft-text-field elementId="job-input"> Cargo actual </xft-text-field>
      <xft-text-field elementId="city-input">
        Ciudad de residencia
      </xft-text-field>

      <xft-checkbox-label [enabled]="true">
        Cliente es preferencial
      </xft-checkbox-label>

      <div class="app__buttons">
        <button xft-button="outline" [disabled]="false" prefixIcon="trash-2">
          Eliminar
        </button>
        <button xft-button="raised" [disabled]="false">Registrar</button>
      </div>
    </div>
  </div>
</div>
