<xft-sidenav>
  <div class="xft-sidenav__profile">
    <xft-ballot initials="DC" subtitle="Ingeniero de Sistemas">
      Daniel Andrés Castillo Pedroza
    </xft-ballot>
  </div>

  <ul class="xft-sidenav__menu">
    <li class="xft-sidenav__menu__element">
      <xft-icon value="trash"></xft-icon>
      <label>Registrar asiento contable</label>
    </li>
    <li class="xft-sidenav__menu__element">
      <xft-icon value="menu"></xft-icon>
      <label>Reportes contable</label>
    </li>
  </ul>
</xft-sidenav>

<div class="xft-app__body">
  <div class="xft-app__header">
    <xft-toolbar [breadcrumbs]="['Inicio', 'Asientos contable', 'Registro']">
      Xedger Application v1.0.0 [2022.08.29]
    </xft-toolbar>
  </div>

  <div class="xft-app__content">
    <div class="app__content">
      <div class="xft-card">
        <div class="xft-card__content">
          <div class="app__content__panel1">
            <xft-select-field class="col-sm col-lg-30" [suggestions]="persons">
              Sucursal<span>*</span>
            </xft-select-field>

            <xft-select-field class="col-sm col-lg-40" [suggestions]="persons">
              Resolucion de facturación<span>*</span>
            </xft-select-field>

            <xft-select-field class="col-sm col-lg-30" [suggestions]="persons">
              Almacen<span>*</span>
            </xft-select-field>

            <xft-date-field class="col-sm col-lg-30">
              Fecha de expedición<span>*</span>
            </xft-date-field>

            <xft-autocomplete-field
              class="col-sm col-lg-40"
              [suggestions]="persons"
            >
              Cliente<span>*</span>
            </xft-autocomplete-field>

            <xft-text-field
              elementId="name-input"
              class="col-sm col-lg-30"
              [inputControl]="inputControl"
            >
              Identificación
            </xft-text-field>

            <xft-select-field class="col-sm col-lg-30" [suggestions]="persons">
              Catálogo de precio<span>*</span>
            </xft-select-field>

            <xft-select-field
              class="col-sm col-lg-40"
              [suggestions]="persons"
              xofttionTheme="warning"
            >
              Estado de factura<span>*</span>
            </xft-select-field>

            <xft-select-field class="col-sm col-lg-30" [suggestions]="persons">
              Plazo de pago (días)<span>*</span>
            </xft-select-field>

            <xft-select-field class="col-sm col-lg-30" [suggestions]="persons">
              Garantía (dias)<span>*</span>
            </xft-select-field>

            <div class="app__content__radiobutton">
              <xft-radiobutton-label
                class="col-sm"
                value="elite"
                [formControl]="radioControl"
                xofttionTheme="info"
              >
                Imprimir recibo
              </xft-radiobutton-label>

              <xft-radiobutton-label
                class="col-sm"
                value="preferencial"
                [formControl]="radioControl"
                xofttionTheme="success"
              >
                Imprimir ticket
              </xft-radiobutton-label>

              <xft-radiobutton-label
                class="col-sm"
                value="ninguno"
                [formControl]="radioControl"
                xofttionTheme="danger"
              >
                No imprimir recibo
              </xft-radiobutton-label>
            </div>

            <xft-checkbox-label xofttionTheme="happy">
              Pagar todo en 1 cuota
            </xft-checkbox-label>
            <xft-switch-label xofttionTheme="warning"
              >Notificar transacción</xft-switch-label
            >
          </div>

          <div class="app__content__panel2"></div>

          <div class="app__buttons">
            <button xft-button="flat" [disabled]="false" prefixIcon="trash-2">
              Cancelar venta
            </button>
            <button
              xft-button="outline"
              [disabled]="false"
              prefixIcon="trash-2"
              xofttionTheme="danger"
            >
              Eliminar
            </button>
            <button
              xft-button="raised"
              [disabled]="false"
              xofttionTheme="happy"
            >
              Registrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
